<app-main-nav>
    <div class="lorem">
        <h3 class="p-5">Angular web-app boilerplate</h3>

        <p class="p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo necessitatibus fugiat, optio
            labore nihil aperiam
            rem porro, ut natus repellat sint. Consequatur consequuntur aliquam cupiditate repellendus tempore corrupti,
            velit omnis.
        </p>

        <p class="p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo necessitatibus fugiat, optio
            labore nihil aperiam
            rem porro, ut natus repellat sint. Consequatur consequuntur aliquam cupiditate repellendus tempore corrupti,
            velit omnis.
        </p>

        <p class="p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo necessitatibus fugiat, optio
            labore nihil aperiam
            rem porro, ut natus repellat sint. Consequatur consequuntur aliquam cupiditate repellendus tempore corrupti,
            velit omnis.
        </p>

        <p class="p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo necessitatibus fugiat, optio
            labore nihil aperiam
            rem porro, ut natus repellat sint. Consequatur consequuntur aliquam cupiditate repellendus tempore corrupti,
            velit omnis.
        </p>

        <p class="p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo necessitatibus fugiat, optio
            labore nihil aperiam
            rem porro, ut natus repellat sint. Consequatur consequuntur aliquam cupiditate repellendus tempore corrupti,
            velit omnis.
        </p>
        <p class="p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo necessitatibus fugiat, optio
            labore nihil aperiam
            rem porro, ut natus repellat sint. Consequatur consequuntur aliquam cupiditate repellendus tempore corrupti,
            velit omnis.
        </p>
        <p class="p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo necessitatibus fugiat, optio
            labore nihil aperiam
            rem porro, ut natus repellat sint. Consequatur consequuntur aliquam cupiditate repellendus tempore corrupti,
            velit omnis.
        </p>
        <p class="p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo necessitatibus fugiat, optio
            labore nihil aperiam
            rem porro, ut natus repellat sint. Consequatur consequuntur aliquam cupiditate repellendus tempore corrupti,
            velit omnis.
        </p>
    </div>

    <!-- The routed views render here in the <router-outlet>-->
    <router-outlet></router-outlet>
</app-main-nav>